@tailwind base;
:root {
  --scroll-background: #1f2937;
  --scroll-bar: #4b5563;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar) var(--scroll-background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar);
  border-radius: 14px;
  border: 3px solid var(--scroll-background);
}

@tailwind components;
@tailwind utilities;

@layer components{
  .page-wrapper{
    @apply flex flex-col  p-8 lg:px-12  
    /* rm h-screen ^ */
  }
  .page-heading{
    @apply text-2xl font-bold text-white xl:text-3xl
  }
  .form-fieldset{
    @apply space-y-5 mt-8
  }
  .form-legend{
    @apply text-brand-600 font-semibold
  }
  .form-label {
    @apply text-gray-300 font-medium
  }
  .form-input-cont{
    @apply flex flex-col space-y-2  
  }
  .form-input{
    @apply p-3 bg-gray-600 font-medium rounded-md
  }
 
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}